<div class="container">
  <div class="row m-5">
    <div class="col-md-12 text-center text-dark">
      <h2>Administrative Service Dashboard</h2>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-md-6">
      <div class="list-group">
        <button type="button"  class="list-group-item list-group-item-info ">
          <strong>Choose Service</strong>
        </button>
        <a routerLink="/add/documet" class="list-group-item list-group-item-action"> Add Document Copy</a>
        <a routerLink="/search/document" class="list-group-item list-group-item-action">Search Document</a>
        <a routerLink="/branch/info" class="list-group-item list-group-item-action">Branch Information</a>
        <a routerLink="/frequent/borrowers" class="list-group-item list-group-item-action">Frequent borrowers in a branch</a>
        <!--<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>-->
      </div>
    </div>
    <div class="col-md-6">
      <div class="list-group">
        <button type="button"  class="list-group-item list-group-item-info ">
          <strong>Choose Service</strong>
        </button>
        <a routerLink="/add/reader" class="list-group-item list-group-item-action">Add Reader</a>
        <a routerLink="/most/borrowed/books" class="list-group-item list-group-item-action">Most borrowed books</a>
        <a routerLink="/popular/books" class="list-group-item list-group-item-action">Popular books of the year</a>
        <a routerLink="/avg/fine" class="list-group-item list-group-item-action">Average fine paid per reader.</a>
        <!--<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>-->
      </div>
    </div>
  </div>
</div>
